@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background-image: url("../19.jpg");
  background-position: center;
  background-size: cover;
}

.imglogo {
  background-image: url("../Group1.png");
  background-position: center;
  background-size: cover;
}
